h1{
    text-align: center;
    border-bottom: 2px solid saddlebrown;
}
.calender{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 20px;
    padding: 15px;
}
.month-and-date{
    border-radius: 5px;
    padding: 20px;
    background-color: #58d68c34;
}
.month{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
}
.day{
    background-color: rgba(11, 1, 47, 0.712);
    font-size: 25px;
    color: aliceblue;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date{
    border-radius: 5px;
    background-color: #85929E;
    font-size: 25px;
    height: 50px;
    color: aliceblue;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.holy-day{
    color: red;
    background-color: #515A5A;
}
/* holy-day */

@media screen and (max-width: 576px) {
    .calender{
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
    }
    .day{
        padding: 10px 0;
        font-size: 18px;
    }
}
@media screen and (min-width: 577px) and (max-width:992px){
    .calender{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
    }
}